<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="https://png.pngtree.com/png-clipart/20201208/big/pngtree-super-joystick-png-image_5588504.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      UsualGames
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contatos">Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
